<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
            <input type="text" name="id" id="id" placeholder="ID">
            <input type="password" name="password" id="password" placeholder="password">
            <button type="submit" id="btn" onclick="login()">로긴</button>
            <div id="checksign">
                <ul>
                    <li>아이디 : <%=data.id%></li>
                    <li>비번 : <%=data.pw%></li>
                    <li>이름 : <%=data.name%></li>
                    <li>저나버노 : <%=data.phone%></li>
                    <li>생일 : <%=data.birth%></li>
                </ul>
            </div>
    </body>
    <script>
        function login() {
            let idcheck = $('#id').val();
            let pwcheck = $('#password').val();

            
            $.ajax({
                url: "/login", // /abc라면 메인 홈페이지 / 에서 보낸 값은 /abc 경로에 담기는 개념
                type: "POST",
                data: {
                    id: idcheck,
                    pw: pwcheck
                },
                success: function (data) {
                    console.log(data);
                    if (data == 'loginfail') {
                        alert('아이디 혹은 비밀번호를 확인하십시오.')
                        window.location='/login'
                    } else if (data == 'loginsuc') {
                        alert('로그인에 성공하였습니다.');
                        window.location='/'
                    } else {
                        alert('잘못된 요청입니다.');
                    }
                }
            })
        }
    </script>
</html>